.logoContainer {
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: transform var(--transition-fast);
}

.logoContainer:hover {
  transform: scale(1.02);
}

.svgLogo {
  height: auto;
}

.sm {
  width: 100px;
}

.md {
  width: 135px;
}

.lg {
  width: 190px;
}
